
body {
    font-family: 'Press Start 2P', cursive;
    background-color: #0b0c1a;
    color: white;
    margin: 0;
    padding: 0;
}
header, footer {
    background-color: #1e1f2b;
    padding: 1em;
    text-align: center;
}
nav a {
    color: #66ccff;
    margin: 0 15px;
    text-decoration: none;
}
main {
    padding: 2em;
}
.video-thumb, .game-thumb {
    margin: 1em 0;
}
img {
    width: 200px;
    height: auto;
}
    